{% load static %}

<div class="container marketing" id="features">
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Продающий заголовок. <span
                    class="text-muted">Самое важное.</span>
            </h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla.
                Vestibulum id ligula porta felis euismod
                semper. Praesent commodo cursus magna, vel scelerisque nisl
                consectetur. Fusce dapibus, tellus ac cursus
                commodo.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto"
                 src="{% static 'gtm_demo/images/leaf.jpg' %}"
                 alt="feature-1">
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Еще один. <span class="text-muted">Попробуйте сами.</span>
            </h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla.
                Vestibulum id ligula porta felis euismod
                semper. Praesent commodo cursus magna, vel scelerisque nisl
                consectetur. Fusce dapibus, tellus ac cursus
                commodo.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto"
                 src="{% static 'gtm_demo/images/nose.jpg' %}"
                 alt="feature-2">
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Финальное преимущество. <span
                    class="text-muted">Шах и мат.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla.
                Vestibulum id ligula porta felis euismod
                semper. Praesent commodo cursus magna, vel scelerisque nisl
                consectetur. Fusce dapibus, tellus ac cursus
                commodo.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto"
                 src="{% static 'gtm_demo/images/plants.jpg' %}"
                 alt="feature-3">
        </div>
    </div>
    <hr class="featurette-divider">
</div>