<div class="container">
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-12 col-md">
                <img class="mb-2" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt=""
                     width="24" height="24">
                <small class="d-block mb-3 text-muted">© {% now 'Y' %}</small>
            </div>
            <div class="col-6 col-md">
                <h5>Полезные ссылки</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted external-link" target="_blank"
                           href="https://tagmanager.google.com/">tagmanager.google.com</a></li>
                    <li><a class="text-muted external-link" target="_blank"
                           href="https://docs.google.com/document/d/1v4TDOtxkyeMPZxtfnk9lweCv1lT1qvobPgBDy2-LoW4/">
                        Пример ТЗ на разметку</a></li>
                    <li><a class="text-muted external-link" target="_blank"
                           href="https://simoahava.com/">Блог Simo Ahava</a></li>
                    <li><a class="text-muted external-link" target="_blank"
                           href="https://osipenkov.ru/tag/google-tag-manager/">Блог Якова Осипенкова</a></li>
                    <li><a class="text-muted external-link" target="_blank"
                           href="https://gtmspy.com/">Сервис GTM SPY</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Мы в соцсетях</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted external-link" target="_blank" href="https://facebook.com/">Facebook</a>
                    </li>
                    <li><a class="text-muted external-link" target="_blank" href="https://instagram.com/">Instagram</a>
                    </li>
                    <li><a class="text-muted external-link" target="_blank" href="https://vk.com/">ВКонтакте</a></li>
                    <li><a class="text-muted external-link" target="_blank" href="https://twitter.com/">Twitter</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Контакты</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="contacts-link" contacts_link_type="email"
                           href="mailto:test@example.com">test@example.com</a>
                    </li>
                    <li><a class="contacts-link" contacts_link_type="tel"
                           href="tel:+7-495-999-99-99">+7-495-999-99-99</a></li>
                    <li><a class="contacts-link" contacts_link_type="WhatsApp"
                           href="whatsapp://send?phone=+9999999999&abid=+9999999999">WhatsApp</a>
                    </li>
                    <li><a class="contacts-link" contacts_link_type="Telegram"
                           href="tg://resolve?domain=<USERNAME>">Telegram</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</div>